<h2>Clientes Registrados</h2>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Cedula</th>
            <th>Nombre</th>
            <th>Dirección</th>
            <th>Teléfono</th>
            <th>Correo Electrónico</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of lstClientes">
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.cedula }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.direccion }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.correoElectronico }}</td>
        </tr>
    </tbody>
</table>